.Button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/*.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}*/

.Success {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.Logout {
    background-color: purple;
    float: right;
}
.Danger {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.Success:hover {
    background-color: #4CAF50;
    color: white;
}

.Danger:hover {
    background-color: #008CBA;
    color: white;
}

.disabled {
    background-color: grey;
    opacity: 0.6;
    cursor: not-allowed;
}
